@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&family=Playfair+Display&family=Roboto+Slab&display=swap');

$main-font-family: 'Libre Franklin', sans-serif;
$title-font: 'Playfair Display', serif;
$nav-font: 'Roboto Slab', serif;

$primary-clr: #14213D;
$secondary-clr: #E5E5E5;
$accent-clr: #FCA311;